Heloo, this is my twig template.

<div class="weather_widget_wrapper">
  <ul>
   <li>Min Temp : {{weather_data.main.temp_min}}</li>
   <li>Max Temp : {{weather_data.main.temp_max}}</li>
   <li>Pressure : {{weather_data.main.pressure}}</li>
   <li>Humidity : {{weather_data.main.humidity}}</li>
  </ul>
</div>